In [3]:
import math

math.sin(math.radians(90))
math.cos(math.radians(0))
math.tan(math.radians(45))

0.9999999999999999

In [4]:
import pandas as pd

data = {'Nama': ['Andi', 'Budi', 'Citra'],
'Umur': [25, 30, 22],
'Kota': ['Jakarta', 'Bandung', 'Surabaya']}

df = pd.DataFrame(data)
print(df)

    Nama  Umur      Kota
0   Andi    25   Jakarta
1   Budi    30   Bandung
2  Citra    22  Surabaya