SET Operasi

In [ ]:
list_mahasiswa = ['arif', 'test', 'test1', 'test1']
print(list_mahasiswa)

set_mahasiswa = {'dani','romeo','juliet','juliet'}
set_mahasiswa2 = set(list_mahasiswa)

set_mahasiswa2.add('bagas')
print(set_mahasiswa2)
# set_mahasiswa2.remove('test') kalau di jalanin 2 kali bakal error karena jupyter menyimpan memory environment ini terpisah dengan set nya
# print(set_mahasiswa2)
set_mahasiswa2.discard('test1')
print(set_mahasiswa2)

gabung = set_mahasiswa.union(set_mahasiswa2)
print(gabung)

['arif', 'test', 'test1', 'test1']
{'test1', 'bagas', 'arif', 'test'}
{'bagas', 'arif', 'test'}
{'bagas', 'romeo', 'arif', 'dani', 'test', 'juliet'}

SET Operasi tapi

In [31]:
set_Makanan = {'nasi','ayam','sate'}
set_Minuman = {'air','teh','sate'}
set_Cemilan = {'keripik','kacang','popcorn'} # Ini buat apa ya

# Union menggabungkan kedua atau semua set yang ada dalam ()
set_Semua = set_Makanan.union(set_Minuman)
print(set_Semua)

# Intersect mencari nilai yang sama di set pertama dan set kedua
set_Intersect = set_Makanan.intersection(set_Minuman)
print(set_Intersect)

# Difference mencari nilai yang ada di set pertama tapi tidak ada di set kedua
set_Diff = set_Makanan.difference(set_Minuman)
print(set_Diff)

# Update menggabungkan set pertama dengan set kedua dan menyimpan hasilnya di set pertama
set_Update = set_Makanan.update(set_Minuman)
print(set_Makanan)
print(set_Update)  # None karena update tidak mengembalikan nilai baru

{'sate', 'nasi', 'air', 'ayam', 'teh'}
{'sate'}
{'nasi', 'ayam'}
{'sate', 'nasi', 'air', 'ayam', 'teh'}
None

DICTIONARY

In [ ]:
users = {
    "user1": {
        "nama": "Arif",
        "umur": 20,
        "pekerjaan": "Mahasiswa"
    },
    "user2": {
        "nama": "Budi",
        "umur": 22,
        "pekerjaan": "Programmer"
    },
    "users3": {
        "nama": "Citra",
        "umur": 21,
        "pekerjaan": "Programmer"
    }
}


users["user4"] = {
    "nama": "Dewi",
    "umur": 23,
    "pekerjaan": "Designer"
}



userProgrammer = {a: users[a] for a in users if users[a]['pekerjaan'] == 'Programmer'}

print(userProgrammer)

usernameBaru = input("Masukkan Username baru: ")
namaBaru = input("Masukkan nama baru: ")
umurBaru = int(input("Masukkan Umur"))
kerjaanBaru = input("Masukkan kerjaan : ")

if usernameBaru in users:
    print(f"Tak boleh sama lah kau input {usernameBaru} yang namanya sudah ada di data")
else:
    users[usernameBaru] = {"nama": namaBaru, "umur": umurBaru, "pekerjaan": kerjaanBaru}
    



for i in users:
    print(f"Username: {i}")
    for key, value in users[i].items():
        print(f"{key}: {value}")
    print()

{'user2': {'nama': 'Budi', 'umur': 22, 'pekerjaan': 'Programmer'}, 'users3': {'nama': 'Citra', 'umur': 21, 'pekerjaan': 'Programmer'}}
Username: user1
nama: Arif
umur: 20
pekerjaan: Mahasiswa

Username: user2
nama: Budi
umur: 22
pekerjaan: Programmer

Username: users3
nama: Citra
umur: 21
pekerjaan: Programmer

Username: user4
nama: Dewi
umur: 23
pekerjaan: Designer

Username: user5
nama: Arif
password: 1324
umur: 12
pekerjaan: 1